/* blog/client/src/App.css */

@import url(https://fonts.googleapis.com/css?family=Rosarivo);

body {
  font-family: 'Rosarivo';
  background-color: Gainsboro;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #666;
  margin-top: 10px;
}
