/*components/Home/Home.js*/

.homeContainer {
 background-color: white;
}

/********jumberTroner************/
    .jumberTroner {
      display: flex;
      justify-content: space-between;
      background-image: url('%PUBLIC_URL%/../../../border-bottom.png');
      background-repeat: repeat-x;
      background-position: bottom;
      border-bottom: 3px solid darkgray;
      background-size: 24px;
      background-color: white;
      height: 315px;
    }
    .welcomeImgContainer {

    }
    .homeimg {
      float: right;
      height: 300px;
      margin-top: 10px;
    }
    .welcomeTextContainer {
      padding: 10px 0 0 20px;
    }
    .helloText {
      font-size: 70px;
      color: #5D5661;
    }
    .myNameIs {
      font-size: 28px;
      color: #5D5661;
      margin-top: -30px;
      }
    .myNameLine {
      margin-top: -18px;
    }
    .myName {
      font-size: 40px;
      color: #FC8004;
      }
    .imma {
      font-size: 20px;
      color: #5D5661;
      margin-left: 10px;
      }
    .iDo {
      font-size: 30px;
      color: #5D5661;
      margin-top: -12px;
      }

/********latestWork**********/
.latestWorkContainer {
  background-color: white;
  padding: 20px;
  font-family: sans-serif;
}
.latestWorkJumbo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.latestWorkText{
  font-size: 18px;
  color: #5D5661;
  text-align: center;
}
.grayLine  {
  width: 20%;
  border-top: 1px solid darkgray;
  margin-top: 10px;
}
.cardsContainer {
  display: flex;
  justify-content: space-between;
}
.card {
  background: #FFFFFF;
  border: 5px solid #FC8004;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.50);
  border-radius: 2px;
  height: 350px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.cardTitle {
  font-size: 18px;
  color: #5D5661;
  text-align: center;
}
.cardThumbnail {
  height: 50%;
}
.cardDescription {
  color: #5D5661;
  font-size: 80%;
  padding: 10px;
}
