/* blog/client/src/sharedStyles/styles.css */


.container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: WhiteSmoke;
  margin: 5px;
  width: 90%;
  box-shadow:inset 0px 0px 25px rgba(0,0,0,.15);
}

.homeimg {
  float: right;
  height: 300px;
  margin-top: -40px;
}

.commentscontainer {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
  background-color: papayawhip;
}
.commentscontainer p {
  list-style:disc outside none;
  display:list-item;
  margin-left: 30px;
  margin-top: 20px;
}

/*jnav located in blog/client/src/NavBar.js */
.jnav a {
  margin: 10px;
  padding: 10px 15px;
	background: #4479BA;
	color: #FFF;
  text-decoration: none;
}

.jnav {
  margin-top: 20px;
}
