/* blog/client/src/sharedStyles/styles.css */

@import url(https://fonts.googleapis.com/css?family=Rosarivo);

body {
  font-family: 'Rosarivo';
  background-color: Gainsboro;
  max-width: 1000px;
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.50);
}

/* this container goes around ArticleList, postarticle, ... */
.container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: WhiteSmoke;
  margin: 30px;
  box-shadow:inset 0px 0px 25px rgba(0,0,0,.15);
}

.mainheader {
  margin: auto;
  padding: 5px;
  text-align: center;
}

/*components/ViewArticle/ViewArticle.js*/
.commentscontainer {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
  background-color: papayawhip;
}
.commentscontainer p {
  list-style:disc outside none;
  display:list-item;
  margin-left: 30px;
  margin-top: 20px;
}
